<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xieke.admin.mapper.pe.CoachMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="Coach">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="sex" property="sex" />
        <result column="store" property="store" />
        <result column="fromsource" property="fromsource" />
        <result column="isManager" property="isManager" />
        <result column="coach_number" property="coachNumber" />
        <result column="free_coach" property="freeCoach" />
        <result column="status" property="status" />
        <result column="brief_introduction" property="briefIntroduction" />
        <result column="remark" property="remark" />
        <association column="staff_id" property="user" select="com.xieke.admin.mapper.UserMapper.getUserById"/>
     </resultMap>
    <select id="selectAllCoach" resultMap="BaseResultMap">
        select * from pe_coach
        <where>
            <if test="name != null">
                AND name like CONCAT('%','${name}','%')
            </if>
            <if test="phone != null">
                AND phone like CONCAT('%','${phone}','%')
            </if>
        </where>
         limit #{start},#{limit}
    </select>
    <select id="countCoach" resultType="java.lang.Integer">
        select count(*) from pe_coach
        <where>
            <if test="name != null">
                AND name like CONCAT('%','${name}','%')
            </if>
            <if test="phone != null">
                AND phone like CONCAT('%','${phone}','%')
            </if>
        </where>
    </select>
    <delete id="delCoach">
        delete from pe_coach where id=#{id}
    </delete>
    <insert id="insertCoach" parameterType="Coach" useGeneratedKeys="true" keyProperty="id">
        insert into pe_coach(id,name,phone,sex,store,fromsource,isManager,coach_number,free_coach,status,brief_introduction,remark,staff_id)
        value (null,#{name},#{phone},#{sex},#{store},#{fromsource},#{isManager},#{coachNumber},#{freeCoach},#{status},#{briefIntroduction},#{remark},#{user.id})
    </insert>
    <select id="findById" resultMap="BaseResultMap">
    select * from pe_coach where id = #{id}
</select>

</mapper>