<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>添加来源</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/static/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="/static/css/public.css" media="all" />
	<style>
		.layui-treeSelect .ztree li span.button.switch {
			position: relative !important;
			top: 2px !important;
		}
	</style>
</head>
<body class="childrenBody">
<form class="layui-form linksAdd">
	<div class="layui-form-item layui-row layui-col-xs12">
		<div class="layui-inline">
			<label class="layui-form-label" style="color:red;">姓名</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input name" name="name" lay-verify="required" placeholder="请输入姓名">
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label" style="color:red;">电话</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input phone" name="phone" lay-verify="required" placeholder="电话">
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">邮箱</label>
			<div class="layui-input-inline">
				<input type="text" class="layui-input email" name="email" placeholder="邮箱">
			</div>
		</div>
	</div>n
	<div class="layui-form-item">
		<button class="layui-btn layui-block" type="button"  lay-filter="addFromsource" lay-submit>保存</button>
	</div>
</form>
<script type="text/javascript" src="/static/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/fromsource/add.js"></script>
</body>
</html>