<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
  <title>定金合同打印预览</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/framework-theme.css">
  <link rel="stylesheet" href="/static/css/framework-ui.css">
  <link rel="stylesheet" href="/static/css/Print.css">
</head>

<body>
  <div style="padding:4px 5px 0px 5px; height:100%">
    <link href="/static/css/Print.css" rel="stylesheet" />
    <div id="EarnestReport" class="page_wrap">
      <div class="page_wrap">
        <div class="box_wrap">
          <div class="content_wrap">

            <style media="print">
              body {
                padding-top: 5mm;
              }

              .print_wrap {
                margin: 0 !important;
                zoom: 100%;
              }
            </style>
            <div class="print_wrap" style="margin-top: 5mm">
              <div class="clearfix">

                <h1 class="print_title">
                  金彦TOPSHOW定金合同
                </h1>
              </div>


              <ul class="print_list">
                <li class="c8">
                  <p class="p6">
                    <label class="pl">会所：</label>
                    <span class="pt" th:text="${firstmoney.store}"></span>
                  </p>
                </li>
                <li class="c8">
                  <p class="p6">
                    <label class="pl">合同编号：</label>
                    <span class="pt" th:text="${firstmoney.number}"></span>
                  </p>
                </li>
                <li class="c8">
                  <p class="p6">
                    <label class="pl">销售人员：</label>
                    <span class="pt" th:text="${firstmoney.mt.name}"></span>
                  </p>
                </li>
              </ul>

              <ul class="print_list">
                <li class="c8">
                  <p class="p6">
                    <label class="pl">会员姓名：</label>
                    <span class="pt" th:text="${firstmoney.customer.name}"></span>
                  </p>
                </li>
                <li class="c8">
                  <p class="p6">
                    <label class="pl">性别：</label>
                    <span class="pt" th:text="${firstmoney.customer.sex == 1 ? '女':'男'}"></span>
                  </p>
                </li>
                <li class="c8">
                  <p class="p6">
                    <label class="pl">手机：</label>
                    <span class="pt" th:text="${firstmoney.customer.phone}"></span>
                  </p>
                </li>

              </ul>

              <ul class="print_list">
                <li class="c8">
                  <p class="p6">
                    <label class="pl">身份证号：</label>
                    <span class="pt" th:text="${firstmoney.customer.idCard}"></span>
                  </p>
                </li>
                <li class="c8">
                  <p class="p6">
                    <label class="pl">会员卡号：</label>
                    <span class="pt" th:text="${firstmoney.customer.icCardId}"></span>
                  </p>
                </li>
              </ul>

              <ul class="print_list">
                <li class="c24">
                  <p class="p6">
                    <label class="pl">家庭住址：</label>
                    <span class="pt"></span>
                  </p>
                </li>
              </ul>
              <ul class="print_list"></ul>
              <ul class="print_list">
                <li class="c12">
                  <p class="p6">
                    <label class="pl">合同有效期：</label>
                    <span class="pt">
                      <span th:text="${#dates.format(firstmoney.insertTime,'yyyy-MM-dd')}"></span> 至
                      <span th:text="${#dates.format(firstmoney.endTime,'yyyy-MM-dd')}"></span>
                    </span>
                  </p>
                </li>
              </ul>

              <ul class="print_list">
                <li class="c12">
                  <p class="p6">
                    <label class="pl">支付方式：</label>
                    <span class="pt" th:text="${firstmoney.payType.name} + ':' + ${#numbers.formatDecimal(firstmoney.firstMoney,1,'COMMA',2,'POINT')}"></span>
                  </p>
                </li>
                <li class="c12">
                  <p class="p6">
                    <label class="pl">开卡门店：</label>
                    <span class="pt" th:text="${firstmoney.store}"></span>
                  </p>
                </li>
              </ul>


              <ul class="print_list">
                <li class="c12">
                  <p class="p6">
                    <label class="pl">
                      支付定金合计：
                    </label>
                    <span class="pt" th:text="${#numbers.formatDecimal(firstmoney.firstMoney,1,'COMMA',2,'POINT')}"></span>
                  </p>
                </li>
              </ul>


              <ul class="print_list">
                <li class="c24">
                  <p class="p6">
                    <label class="pl">备注：</label>
                    <span class="pt" th:text="${firstmoney.remark}"></span>
                  </p>
                </li>
              </ul>


              <ul class="print_list">
                <li class="c12">
                  <p class="p6">
                    <label class="pl">会员签名：</label>
                    <span class="pt">&nbsp;</span>
                  </p>
                </li>
                <li class="c12">
                  <p class="p6">
                    <label class="pl">会所：</label>
                    <span class="pt">&nbsp;</span>
                  </p>
                </li>
              </ul>
              <ul class="print_list">
                <li class="c12">
                  <p class="p6">
                    <label class="pl">签订日期：</label>
                    <span class="pt" th:text="${#dates.format(firstmoney.insertTime,'yyyy-MM-dd')}"></span>
                  </p>
                </li>
                <li class="c12">
                  <p class="p6">
                    <label class="pl">签订日期：</label>
                    <span class="pt" th:text="${#dates.format(firstmoney.insertTime,'yyyy-MM-dd')}"></span>
                  </p>
                </li>
              </ul>
              <ul class="print_list">
                <li class="c24">
                  <div class="p6">
                    <label class="pl">会所章程：</label>
                    <span class="pt txtheight">
                      为本定金协议附件内容，详见《会员须知》<br>
                      ----------------------------------------------------定金协议---------------------------------------------------------<br>
                      本协议内容中【会所（公司）名称简称：甲方　　 会员姓名简称：乙方】<br>
                      1、经双方确认已支付的定金在付款后七日内有效，逾期作废，所交款项概不退回。<br>
                      2、如乙方未付清全部款项，甲方有权拒绝提供服务。<br>
                      本协议一式两份，乙方保留一份。本协议自甲乙双方签字、盖章之日起生效。<br>
                      <br>
                      会员确认签署： 　　 　　 　　 　　 　　 　　 　　 　　 　当值经理签署： 　　　 　　　 　　 　　　　 　 　 　 　 　　 　　 　　 　　 　　 　　 　　 　　 　　 　　 　　
                      　　 　　 　　 　　 　　 　　 　　 　　 　　 　　 　 签署日期：　　 　　 　　 　　 　　 　　 　　 　 　 　 　 会所（公司）签章：
                    </span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>

    </script>


  </div>


</body>

</html>