<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<meta charset="utf-8">
	<title>私教合同列表</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/static/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="/static/css/public.css" media="all" />
	<style>
		.layui-form .layui-border-box .layui-table-view, .layui-table td, .layui-table th{
			font-size: 12px !important;
		}
		.layui-table-cell {
			height: 28px;
			line-height: 28px;
			padding: 0 5px;
			position: relative;
			box-sizing: border-box;
		}
	</style>
</head>
<body class="childrenBody">
<form class="layui-form">
	<blockquote class="layui-elem-quote quoteBox">
		<form class="layui-form">
			<div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="text" class="layui-input name" placeholder="客户姓名"/>
                </div>
				<div class="layui-input-inline">
					<input type="text" class="layui-input phone" placeholder="手机号码"/>
				</div>
                <a class="layui-btn search_btn layui-btn-sm" data-type="reload">搜索</a>
				<shiro:hasPermission name="contractset:add">
					<div class="layui-input-inline">
						<a class="layui-btn layui-btn-sm add_btn" lay-event="add_btn">新增</a>
					</div>
				</shiro:hasPermission>
				<shiro:hasPermission name="contractset:edit">
					<div class="layui-input-inline">
						<a class="layui-btn layui-btn-sm layui-btn-warm edit_btn" lay-event="edit_btn">编辑</a>
					</div>
				</shiro:hasPermission>
				<shiro:hasPermission name="contractset:del">
						<a class="layui-btn layui-btn-danger layui-btn-sm delAll_btn" lay-event="delAll_btn">删除</a>
				</shiro:hasPermission>
				<shiro:hasPermission name="contractset:examine">
						<a class="layui-btn layui-btn-danger layui-btn-sm examine" lay-event="examine">审核</a>
				</shiro:hasPermission>
				<shiro:hasPermission name="contractset:printview">
					<div class="layui-input-inline">
						<a class="layui-btn layui-btn-danger layui-btn-sm printview" lay-event="printview">打印预览</a>
					</div>
				</shiro:hasPermission>
			</div>
		</form>
	</blockquote>
	<table id="contractList" lay-filter="contractList"></table>
</form>
<script  type="text/javascript"  src="/static/js/crypto/core.js"></script>
<script src="/static/js/crypto/md5.js"></script>
<script src="/static/js/crypto/evpkdf.js"></script>
<script src="/static/js/crypto/enc-base64.js"></script>
<script src="/static/js/crypto/cipher-core.js"></script>
<script src="/static/js/crypto/aes.js"></script>
<script src="/static/js/crypto/hmac.js"></script>
<script src="/static/js/crypto/sha1.js"></script>
<script src="/static/js/crypto/sha256.js"></script>
<script type="text/javascript" src="/static/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/utils.js"></script>

<script type="text/javascript" src="/static/js/contract/list.js"></script>
</body>
</html>