<!DOCTYPE html>
<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<meta charset="utf-8">
	<title>预约订单列表</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/static/layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="/static/css/public.css" media="all" />
</head>
<body class="childrenBody">
<form class="layui-form">
	<blockquote class="layui-elem-quote quoteBox">
		<form class="layui-form">
			预订信息状态提示:
			<div class="layui-btn layui-btn-xs">0 待上课</div>
			<div class="layui-btn layui-btn-xs layui-bg-blue">1 已完成</div>
			<div class="layui-btn layui-btn-xs">2 教练已登记</div>
			<div class="layui-btn layui-btn-xs layui-bg-black">3 缺席</div>
			<div class="layui-btn layui-btn-xs layui-bg-orange">5 取消</div>
			<div class="layui-btn layui-btn-xs">7 上课中</div>
			<div class="layui-btn layui-btn-xs">8 课程结束待下课</div>
			<div class="layui-btn layui-btn-xs layui-bg-blue">6 课程结束已下课</div>
		</form>
	</blockquote>
	<blockquote class="layui-elem-quote quoteBox">
		<form class="layui-form">
			<div class="layui-inline">
				<div class="layui-input-inline">
					<input type="text" class="layui-input name" placeholder="姓名"/>
				</div>
				<div class="layui-input-inline">
					<input type="text" class="layui-input phone" placeholder="手机号"/>
				</div>
				<a class="layui-btn search_btn" data-type="reload">搜索</a>
			</div>
		</form>
	</blockquote>
	<table id="orderList" lay-filter="orderList"></table>
	<script type="text/html" id="barDemo">
		{{# if(d.status == 3){ }}
			<a class="layui-btn layui-btn-info layui-btn-xs" lay-event="sing">签课</a>
		{{# }else if(d.status == 5){ }}
			<div class="layui-btn layui-btn-xs layui-bg-orange">取消</div>
		{{# }else if(d.status == 1){ }}
			<a class="layui-btn layui-btn-info layui-btn-xs">已完成</a>
		{{# }else{ }}
			<a class="layui-btn layui-btn-info layui-btn-xs">待处理</a>
		{{# } }}
	</script>
</form>
<script type="text/javascript" src="/static/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/utils.js"></script>
<script type="text/javascript" src="/static/js/pe/order_list.js"></script>
</body>
</html>