<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xieke.admin.mapper.CustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="CustomerResultMap" type="Customer">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="cus_type" property="cusType" />
        <result column="ic_card_in" property="icCardId" />
        <result column="ic_card_num" property="icCardNum" />
        <result column="store" property="store" />
        <result column="birthday" property="birthday" />
        <result column="sex" property="sex" />
        <result column="phone" property="phone" />
        <result column="id_card" property="idCard" />
        <result column="email" property="email" />
        <result column="remark" property="remark" />
        <association column="reception_id" javaType="User" select="com.xieke.admin.mapper.UserMapper.getUserById" property="reception" />
        <association column="intro_id" javaType="Customer" select="com.xieke.admin.mapper.CustomerMapper.findById" property="intro" />
        <association column="mt_id" javaType="User" select="com.xieke.admin.mapper.UserMapper.getUserById" property="mt" />
        <association column="sour_id" select="com.xieke.admin.mapper.FromsourceMapper.findById" javaType="Fromsource" property="fromsource"/>
    </resultMap>
    <insert id="insert" parameterType="Customer">
        INSERT INTO `jy_customer`
        (name,cus_type,sour_id,ic_card_in,ic_card_num,store,birthday,sex,phone,id_card,reception_id,mt_id,email,intro_id,remark)
        VALUES (#{name},#{cusType},#{fromsource.id},#{icCardId},#{icCardNum},#{store},#{birthday},#{sex},#{phone},#{idCard},#{reception.id},#{mt.id},#{email},#{intro.id},#{remark})
    </insert>
    <update id="update" parameterType="Customer">
        UPDATE `jy_customer`
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="cusType != null">cus_type = #{cusType},</if>
            <if test="fromsource != null">sour_id = #{fromsource.id},</if>
            <if test="icCardId != null">ic_card_in = #{icCardId},</if>
            <if test="icCardNum != null">ic_card_num = #{icCardNum},</if>
            <if test="store != null">store = #{store},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="idCard != null">id_card = #{idCard},</if>
            <if test="reception != null">reception_id = #{reception.id},</if>
            <if test="mt != null">mt_id = #{mt.id},</if>
            <if test="email != null">email = #{email},</if>
            <if test="intro != null">intro_id = #{intro.id},</if>
            <if test="remark != null">remark = #{remark}</if>
        </set>
        WHERE id = #{id}
    </update>
    <update id="updateState">
        UPDATE `jy_customer` SET cus_type = #{state} WHERE id = #{id}
    </update>
    <delete id="del">
        DELETE FROM `jy_customer` WHERE id = #{id}
    </delete>
    <select id="findById" resultMap="CustomerResultMap">
        SELECT * FROM `jy_customer` WHERE id = #{id}
    </select>
    <select id="getAll" resultMap="CustomerResultMap">
        SELECT * FROM `jy_customer`
    </select>
    <select id="findAllListByPage" resultMap="CustomerResultMap">
        SELECT * FROM `jy_customer`
        <where>
            <if test="name != null">
                AND name like CONCAT('%','${name}','%')
            </if>
            <if test="phone != null">
                AND phone like CONCAT('%','${phone}','%')
            </if>
        </where>
        ORDER BY id DESC LIMIT #{start},#{limit}
    </select>
    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM `jy_customer`
    </select>
    <select id="countByParam" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM `jy_customer`
        <where>
            <if test="name != null">
                AND name like CONCAT('%','${name}','%')
            </if>
            <if test="phone != null">
                AND phone like CONCAT('%','${phone}','%')
            </if>
        </where>
    </select>

</mapper>