<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xieke.admin.mapper.PaytypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="Paytype">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="valid" property="valid" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <select id="selectAllPaytype" resultMap="BaseResultMap">
        select * from jy_paytype limit #{start},#{limit}
    </select>
    <select id="findById" resultMap="BaseResultMap">
        select * from jy_paytype WHERE id = #{id}
    </select>

    <insert id="insertPaytype" >
        insert into jy_paytype() value (null,#{name},#{valid},#{createTime})
    </insert>
    
    <update id="updatePaytype" >
        update jy_paytype set
        <if test="name!=null" >`name`=#{name},</if>
        <if test="valid!=null">`valid`=#{valid},</if>
        <if test="createTime">`create_time`=#{createTime}</if>

        where id=#{id}
    </update>
  
    <delete id="deletePaytype">
        delete from jy_paytype where id=#{id}
    </delete>

    <select id="countPaytype" resultType="java.lang.Integer">
        select count(*) from jy_paytype
    </select>
    <select id="findAll" resultMap="BaseResultMap">
        SELECT * FROM `jy_paytype` WHERE valid = 1;
    </select>

</mapper>